* {
  // @include border();

  font-family: 'Fjalla One', sans-serif;
  box-sizing: border-box;
}

body {
  @include size(100%, 100%);

  overflow-x: hidden;
}

// ===== Container =====
.container {
  @include size(100%, 100vh);

  z-index: 1;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#e4e0ba, #f7d9aa);
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.dg {
  z-index: 1 !important;
}
