.ui-score {
  @include independent(10);

  top: 25px;
  left: 25px;
  font-size: 36px;
}

.energy-bar {
  @include independent(10);

  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0%);

  &.active {
    .wrap {
      transform: translateY(0);
    }
  }

  .wrap {
    @include size(250px, 50px);

    padding: 8px;
    background-color: #fafafa;
    border-radius: 15px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.15);
    transition: 0.5s ease-out;
    transform: translateY(200px);
  }

  .inner {
    @include size(100%);

    overflow: hidden;
    background-color: #e5e5e5;
    border-radius: 8px;
    transform-style: preserve-3d;
  }

  .bar {
    @include size(100%);

    background-color: #6ee7b7;
    transform: translateX(0);
  }
}

.message {
  @include independent(10);

  bottom: 15%;
  left: 50%;
  font-size: 24px;
  color: #374151;
  opacity: 1;
  transition: 0.25s ease;
  cursor: pointer;
  transform: translate(-50%, 0%);
  pointer-events: all;

  &.active {
    opacity: 0;
    pointer-events: none;
  }

  .text {
    animation: flash-anim 1.5s 0s infinite both linear;
  }

  @keyframes flash-anim {
    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }
}

.leaderboard {
  @include independent(10);
  @include size(40%, auto);

  top: 50%;
  left: 10%;
  transform: translate(0%, -50%);

  .wrap {
    @include flex-center(column);

    width: 100%;
    max-width: 600px;
    justify-content: flex-start;
    padding: 20px;
    padding-top: 50px;
    background-color: rgba($color: #e7e5e4, $alpha: 0.5);
    border-radius: 15px;
  }

  .title {
    @include independent();

    top: 0%;
    left: 50%;
    padding: 15px 50px;
    font-size: 32px;
    background-color: #737373;
    border: 5px solid #404040;
    border-radius: 10px;
    transform: translate(-50%, -50%);
  }

  .list-wrap {
    @include flex-center(column);
    @include size(100%, 100%);

    justify-content: flex-start;
  }

  .list {
    @include flex-center();
    @include size(100%, 12.5%);

    position: relative;
    justify-content: space-between;
    padding: 15px 20px;
    margin: 1% 0;
    font-size: 24px;
    background-color: #fff;
    border-radius: 10px;

    .award {
      width: 15%;
    }

    .rank {
      width: 20%;
    }

    .name {
      width: 30%;
    }

    .score {
      width: 35%;
    }
  }
}
