.loading {
  @include size(100%);

  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffbe76;
}

.ui {
  @include independent(10);
  @include size(100%, 100vh);

  pointer-events: none;
  top: 0;
  left: 0;

  .lb-panel {
    @include independent();

    pointer-events: all;
    bottom: 10px;
    left: 20px;
    font-weight: 700;
    color: #646464;

    .anim {
      transform: translateY(50px);
      opacity: 0;
    }

    .word {
      position: relative;
      padding-bottom: 4px;
      letter-spacing: 2px;

      &::after {
        @include independent();
        @include size(0%, 3px);

        bottom: 0;
        left: 0;
        background-color: #646464;
        transition: width 0.25s;
        content: '';
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  .rb-panel {
    @include independent();

    pointer-events: all;
    right: 20px;
    bottom: 10px;

    .anim {
      opacity: 0;
      transform: translateY(50px);
    }

    .audio-sign {
      cursor: pointer;
      width: 30px;
      position: relative;

      .audio-mute {
        @include independent(1);

        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;

        &.active {
          opacity: 1;
          pointer-events: all;
        }
      }

      .audio-unmute {
        @include independent(2);

        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;

        &.active {
          opacity: 1;
          pointer-events: all;
        }
      }

      .inner {
        @include aspect-ratio(112, 112);

        width: 100%;
      }
    }
  }

  .ui-score {
    @include independent(10);

    top: 60px;
    left: 25px;
    font-size: 60px;
    text-align: left;
    color: rgba($color: #404040, $alpha: 0.5);
    transform: translate(0, -50%) skew(0deg, -5deg);
  }

  .energy-bar {
    @include independent(10);

    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);

    &.active {
      .wrap {
        transform: translateY(0);
      }
    }

    .wrap {
      @include size(250px, 50px);

      padding: 8px;
      background-color: #fafafa;
      border-radius: 15px;
      box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.15);
      transition: 0.5s ease-out;
      transform: translateY(200px);
    }

    .inner {
      @include size(100%);

      overflow: hidden;
      background-color: #737373;
      border-radius: 8px;
      transform-style: preserve-3d;
    }

    .bar {
      @include size(100%);

      background-color: #6ee7b7;
      transform: translateX(0);
    }
  }

  .message {
    @include independent(10);

    bottom: 35%;
    left: 50%;
    font-size: 24px;
    color: #6c6e71;
    opacity: 1;
    transition: 0.25s ease;
    cursor: pointer;
    transform: translate(-50%, 0%);
    pointer-events: none;

    &.active {
      opacity: 0;
      pointer-events: none;
    }

    .text {
      animation: flash-anim 1.5s 0s infinite both linear;
    }

    @keyframes flash-anim {
      0%,
      100% {
        opacity: 1;
      }

      50% {
        opacity: 0;
      }
    }
  }

  .leaderboard {
    @include independent(10);
    @include size(40%, auto);

    top: 50%;
    left: 10%;
    transform: translate(0%, -50%);

    &.active {
      .wrap {
        opacity: 1;
        transition: 0.25s ease;
      }

      .list-1 {
        opacity: 1;
        transform: translateY(0);
        transition: 0.25s 0.5s ease;
      }

      .list-2 {
        opacity: 1;
        transform: translateY(0);
        transition: 0.25s 0.75s ease;
      }

      .list-3 {
        opacity: 1;
        transform: translateY(0);
        transition: 0.25s 1s ease;
      }

      .list-4 {
        opacity: 1;
        transform: translateY(0);
        transition: 0.25s 1.25s ease;
      }
    }

    .wrap {
      @include flex-center(column);

      width: 100%;
      max-width: 600px;
      justify-content: flex-start;
      padding: 20px;
      padding-top: 50px;
      margin: 0 auto;
      background-color: rgba($color: #e7e5e4, $alpha: 0.5);
      border-radius: 15px;
      opacity: 0;
      transition: 0.15s ease;
    }

    .title {
      @include independent();

      top: 0%;
      left: 50%;
      padding: 15px 50px;
      font-size: 32px;
      background-color: #737373;
      border: 5px solid #404040;
      border-radius: 10px;
      transform: translate(-50%, -50%);
    }

    .list-wrap {
      @include flex-center(column);
      @include size(100%, 100%);

      justify-content: flex-start;
    }

    .list {
      @include flex-center();
      @include size(100%, 12.5%);

      position: relative;
      justify-content: space-between;
      padding: 15px 20px;
      margin: 1% 0;
      font-size: 24px;
      background-color: #fff;
      border-radius: 10px;

      .award {
        width: 15%;
      }

      .rank {
        width: 20%;
      }

      .name {
        width: 30%;
      }

      .score {
        width: 35%;
      }
    }

    .list-1 {
      opacity: 0;
      transform: translateY(20px);
      transition: 0.25s ease;
    }

    .list-2 {
      opacity: 0;
      transform: translateY(20px);
      transition: 0.25s ease;
    }

    .list-3 {
      opacity: 0;
      transform: translateY(20px);
      transition: 0.25s ease;
    }

    .list-4 {
      opacity: 0;
      transform: translateY(20px);
      transition: 0.25s ease;
    }
  }

  .login-panel {
    @include independent(20);
    @include size(100%);

    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;

    &.active {
      opacity: 1;

      .wrap {
        .form {
          pointer-events: all;
        }
      }
    }

    .wrap {
      @include flex-center();

      width: 95%;
      height: 100%;
      max-width: 510px;
      align-items: stretch;
      margin: 0 auto;

      .form {
        @include flex-center(column);

        pointer-events: none;
        width: 100%;
        align-items: stretch;
      }

      .input-login-name,
      .input-login-email {
        padding: 10px 20px;
        margin-bottom: 22px;
        font-size: 22px;
        background-color: rgba($color: #fff, $alpha: 0.7);
        border-color: transparent;
        border-radius: 16px;

        &:focus {
          outline: none;
        }
      }

      .btn-login-block {
        @include flex-center();

        position: relative;
        margin-top: 40px;

        .btn-login {
          @include size(250px, 50px);

          z-index: 1;
          position: relative;
          background-color: #fff;
          border: 3px solid #fe715e;
          border-radius: 38px;
          transition: 0.25s ease;
          cursor: pointer;
          transform: translateY(-10px);

          &:hover {
            background-color: #f8fd6d;
            transform: translateY(-3px);
          }

          .img {
            @include independent();

            width: 62%;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          &:focus {
            outline: none;
          }
        }

        .shadow {
          @include independent(0);
          @include size(250px, 50px);

          top: 50%;
          left: 50%;
          background-color: #fe715e;
          border-radius: 38px;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

.credit-panel {
  @include independent($z-credit);
  @include size(100%);
  @include flex-center();

  opacity: 0;
  pointer-events: none;

  &.open {
    opacity: 1;
    pointer-events: all;
  }

  .wrap {
    @include size(95%);

    max-width: 1460px;
    max-height: 725px;
    position: relative;

    &::after {
      @include independent();
      @include size(100%);

      top: 0;
      left: 0;
      background-position: center center;
      background-size: cover;
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 50px;
      content: '';
    }

    .content {
      @include flex-center();

      z-index: 2;
      height: 100%;
      position: relative;
      flex-direction: column;

      .title {
        width: 300px;
        margin-bottom: 50px;
      }

      .character {
        @include flex-center(column);

        margin-bottom: 50px;
      }

      h3 {
        font-size: 28px;
        line-height: 2;
        letter-spacing: 4px;
      }

      a {
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 3px;
        text-decoration: none;
        color: rgba($color: $color-gray-1, $alpha: 1);
        transition: 0.25s ease;

        &:hover {
          color: rgba($color: $color-gray-1, $alpha: 0.75);
        }
      }
    }

    .btn-close {
      @include independent(2);
      @include size(35px);

      top: 40px;
      right: 40px;
      cursor: pointer;

      &:hover {
        &::after,
        &::before {
          background-color: rgba($color: #404040, $alpha: 1);
        }
      }

      &::after,
      &::before {
        @include independent();

        top: 50%;
        left: 50%;
        background-color: rgba($color: #404040, $alpha: 0.7);
        transition: 0.25s ease;
        content: '';
      }

      &::after {
        width: 100%;
        height: 3px;
        transform: translate(-50%, -50%) rotateZ(45deg);
      }

      &::before {
        width: 100%;
        height: 3px;
        transform: translate(-50%, -50%) rotateZ(135deg);
      }
    }
  }
}
