.loading {
  @include size(100%);

  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffbe76;
}

.ui {
  @include independent(10);
  @include size(100%, 100vh);

  pointer-events: none;
  top: 0;
  left: 0;

  .lb-panel {
    @include independent();

    pointer-events: all;
    bottom: 10px;
    left: 20px;
    font-weight: 700;
    color: #646464;

    .anim {
      transform: translateY(50px);
      opacity: 0;
    }

    .word {
      position: relative;
      padding-bottom: 4px;
      letter-spacing: 2px;

      &::after {
        @include independent();
        @include size(0%, 3px);

        bottom: 0;
        left: 0;
        background-color: #646464;
        transition: width 0.25s;
        content: '';
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  .rb-panel {
    @include independent();

    pointer-events: all;
    right: 20px;
    bottom: 10px;

    .anim {
      opacity: 0;
      transform: translateY(50px);
    }

    .audio-sign {
      cursor: pointer;
      width: 30px;
      position: relative;

      .audio-mute {
        @include independent(1);

        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;

        &.active {
          opacity: 1;
          pointer-events: all;
        }
      }

      .audio-unmute {
        @include independent(2);

        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;

        &.active {
          opacity: 1;
          pointer-events: all;
        }
      }

      .inner {
        @include aspect-ratio(112, 112);

        width: 100%;
      }
    }
  }

  .ui-score {
    @include independent(10);

    top: 60px;
    left: 25px;
    font-size: 60px;
    text-align: left;
    color: rgba($color: $color-orange, $alpha: 0.85);
    transform: translate(0, -50%) skew(0deg, -5deg);
  }

  .energy-bar {
    @include independent(10);

    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);

    &.active {
      .wrap {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .wrap {
      @include flex-center();

      opacity: 0;
      transition: 0.5s ease-out;
      transform: translateY(200px);
    }

    .battery-block {
      position: relative;
    }

    .battery {
      z-index: 1;
      position: relative;
    }

    .battery-fx {
      @include independent(2);
      @include size(100%, auto);

      top: 0;
      left: 0;
    }

    .battery,
    .battery-fx {
      width: 75px;
    }

    .bar-container {
      @include size(625px, 40px);

      padding: 10px;
      background-color: #fafafa;
      border-radius: 35px;
      box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.15);
    }

    .inner {
      @include size(100%);

      overflow: hidden;
      background-color: #7878784a;
      border-radius: 18px;
      transform-style: preserve-3d;
    }

    .bar {
      @include size(100%);

      background-color: $color-orange;
      transform: translateX(0);
    }
  }

  .head {
    @include size(100%);

    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s ease;

    &.active {
      opacity: 1;

      .wrap {
        .main-block {
          .btn-play-block {
            pointer-events: all;
          }
        }
      }
    }

    .wrap {
      @include flex-center(column);
      @include size(100%);

      width: 100%;
      max-width: 1440px;
      margin: 0 auto;

      .main-block {
        @include flex-center(column);
        @include independent();

        width: 650px;
        top: 50%;
        right: 5%;
        transform: translate(0%, -50%);

        .logo-block {
          position: relative;

          .logo-text {
            @include flex-center();

            z-index: 2;
            width: 100%;
            position: relative;
          }

          .logo-circle {
            @include flex-center();
            @include independent(1);

            width: 100%;
          }
        }

        .btn-play-block {
          @include flex-center();

          width: 100%;
          position: relative;
          margin-top: 80px;
          pointer-events: none;

          .btn-play {
            @include size(32.4%, 50px);

            z-index: 1;
            position: relative;
            background-color: #fff;
            border: 3px solid $color-orange;
            border-radius: 38px;
            transform: translateY(-10px);
            transition: 0.25s ease;
            cursor: pointer;

            &:hover {
              background-color: #f8fd6d;
              transform: translateY(-3px);
            }

            .image {
              @include independent();

              width: 70%;
              top: 5%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }

          .shadow {
            @include independent(0);
            @include size(32.4%, 50px);

            top: 50%;
            left: 50%;
            background-color: $color-orange;
            border-radius: 38px;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }

  .leaderboard {
    @include independent(10);
    @include size(40%, auto);

    top: 50%;
    left: 10%;
    transform: translate(0%, -50%);

    &.active {
      pointer-events: all;

      .wrap {
        opacity: 1;
        transition: 0.75s ease;
      }

      .list-1 {
        opacity: 1;
        transform: translateY(0);
        transition: 0.25s 0.5s ease;
      }

      .list-2 {
        opacity: 1;
        transform: translateY(0);
        transition: 0.25s 0.75s ease;
      }

      .list-3 {
        opacity: 1;
        transform: translateY(0);
        transition: 0.25s 1s ease;
      }

      .list-4 {
        opacity: 1;
        transform: translateY(0);
        transition: 0.25s 1.25s ease;
      }
    }

    .wrap {
      @include flex-center(column);

      width: 100%;
      max-width: 600px;
      position: relative;
      justify-content: flex-start;
      padding: 90px 20px 140px;
      margin: 0 auto;
      background-color: rgba($color: #e7e5e4, $alpha: 0.5);
      border-radius: 50px;
      opacity: 0;
      transition: 0.15s ease;
    }

    .title {
      @include independent();

      width: 90%;
      top: 0%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .button-block {
      @include independent();
      @include size(270px, 50px);

      transform: translate(-50%, 50%);
      bottom: 10%;
      left: 50%;

      .btn-again {
        @include size(100%);

        z-index: 2;
        position: relative;
        transform: translateY(-10px);
        cursor: pointer;
        transition: 0.25s ease;

        &:hover {
          transform: translateY(-3px);
        }

        .image {
          @include independent();

          width: 65%;
          top: 20%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .bottom {
          @include size(100%);

          background-color: #fff;
          border: 2px solid $color-orange;
          border-radius: 38px;
        }
      }

      .shadow {
        @include independent(1);
        @include size(100%);

        top: 0;
        left: 0;
        background-color: $color-orange;
        border-radius: 38px;
      }
    }

    .list-wrap {
      @include flex-center(column);
      @include size(100%, 250px);

      justify-content: flex-start;
      overflow-y: scroll;
      padding-right: 10px;
    }

    .list {
      @include flex-center();
      @include size(100%, 60px);

      min-height: 60px;
      position: relative;
      justify-content: space-between;
      overflow: hidden;
      padding: 15px 40px;
      margin: 5px 0;
      font-size: 24px;
      color: #646464;
      background-color: transparent;
      border-radius: 10px;
      letter-spacing: 1px;
      transform-style: preserve-3d;

      .award {
        z-index: 1;
        width: 20%;
        position: relative;
        font-size: 22px;
        color: $color-orange;
        font-weight: 900;
      }

      .rank {
        @include flex-center();

        z-index: 1;
        width: 15%;
        position: relative;

        .rankValue {
          @include size(38px);
          @include flex-center();

          font-size: 20px;
          background-color: transparent;
          border-radius: 50%;
          font-weight: 900;
        }
      }

      .name {
        z-index: 1;
        width: 45%;
        position: relative;
        font-size: 22px;
        font-weight: 900;
      }

      .score {
        z-index: 1;
        width: 20%;
        position: relative;
        font-size: 22px;
        font-weight: 900;
      }
    }

    .list-1,
    .list-2,
    .list-3 {
      position: relative;
      background-color: #cdcdcdbf;
      opacity: 0;
      box-shadow: 2px 2px 0 #81818140;
      transition: 0.25s ease;
      transform: translateY(20px);

      &::after {
        @include independent(2);
        @include size(35px, 100%);

        top: 0;
        left: 0;
        background-color: #fff;
        content: '';
        transform: skewX(-25deg);
      }
    }

    .list-1 {
      border: 3px solid #f3d205;

      &::after {
        animation: anim-shine 8s -1.5s forwards linear infinite;
        background-color: #ffffff8f;
      }

      .rank {
        .rankValue {
          color: #fff;
          background-color: #ffd136;
        }
      }
    }

    .list-2 {
      &::after {
        background-color: #ffffff2b;
        animation: anim-shine 8s -0.85s forwards linear infinite;
      }

      .rank {
        .rankValue {
          color: #fff;
          background-color: #bddce2;
        }
      }
    }

    .list-3 {
      &::after {
        background-color: transparent;
        animation: anim-shine 8s -0.1s forwards linear infinite;
      }

      .rank {
        .rankValue {
          color: #fff;
          background-color: #d38d2d;
        }
      }
    }
  }

  .login-panel {
    @include independent(20);
    @include size(100%);

    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;

    &.active {
      opacity: 1;

      .wrap {
        .form {
          pointer-events: all;
        }
      }
    }

    .wrap {
      @include flex-center();

      width: 95%;
      height: 100%;
      max-width: 510px;
      align-items: stretch;
      margin: 0 auto;

      .form {
        @include flex-center(column);

        pointer-events: none;
        width: 100%;
        align-items: stretch;
      }

      .input-block {
        @include flex-center(column);

        align-items: stretch;
        margin-bottom: 22px;
      }

      .error-name,
      .error-email {
        display: none;
        padding: 0 10px;
        margin: 5px 0;
        font-size: 14px;
        text-align: left;
        color: $color-orange;

        &.active {
          display: block;
        }
      }

      .input-login-name,
      .input-login-email {
        padding: 10px 20px;
        font-size: 22px;
        color: #646464;
        background-color: rgba($color: #fff, $alpha: 0.7);
        border-color: transparent;
        border-radius: 16px;

        &:focus {
          outline: none;
        }
      }

      .btn-login-block {
        @include flex-center();

        position: relative;
        margin-top: 40px;

        .btn-login {
          @include size(250px, 50px);

          z-index: 1;
          position: relative;
          background-color: #fff;
          border: 3px solid #fe715e;
          border-radius: 38px;
          transition: 0.25s ease;
          cursor: pointer;
          transform: translateY(-10px);

          &:hover {
            background-color: #f8fd6d;
            transform: translateY(-3px);
          }

          .img {
            @include independent();

            width: 62%;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          &:focus {
            outline: none;
          }
        }

        .shadow {
          @include independent(0);
          @include size(250px, 50px);

          top: 50%;
          left: 50%;
          background-color: #fe715e;
          border-radius: 38px;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

.credit-panel {
  @include independent($z-credit);
  @include size(100%);
  @include flex-center();

  opacity: 0;
  pointer-events: none;

  &.open {
    opacity: 1;
    pointer-events: all;
  }

  .wrap {
    @include size(95%);

    max-width: 1460px;
    max-height: 725px;
    position: relative;

    &::after {
      @include independent();
      @include size(100%);

      top: 0;
      left: 0;
      background-position: center center;
      background-size: cover;
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 50px;
      content: '';
    }

    .content {
      @include flex-center();

      z-index: 2;
      height: 100%;
      position: relative;
      flex-direction: column;

      .title {
        width: 300px;
        margin-bottom: 50px;
      }

      .character {
        @include flex-center(column);

        margin-bottom: 50px;
      }

      .inspired {
        font-size: 14px;
        color: #757575;

        .link {
          font-size: 14px;
          text-decoration: underline;
          letter-spacing: 1px;
        }
      }

      h3 {
        font-size: 28px;
        line-height: 2;
        letter-spacing: 4px;
      }

      a {
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 3px;
        text-decoration: none;
        color: rgba($color: $color-gray-1, $alpha: 1);
        transition: 0.25s ease;

        &:hover {
          color: rgba($color: $color-gray-1, $alpha: 0.75);
        }
      }
    }

    .btn-close {
      @include independent(2);
      @include size(35px);

      top: 40px;
      right: 40px;
      cursor: pointer;

      &:hover {
        &::after,
        &::before {
          background-color: rgba($color: #404040, $alpha: 1);
        }
      }

      &::after,
      &::before {
        @include independent();

        top: 50%;
        left: 50%;
        background-color: rgba($color: #404040, $alpha: 0.7);
        transition: 0.25s ease;
        content: '';
      }

      &::after {
        width: 100%;
        height: 3px;
        transform: translate(-50%, -50%) rotateZ(45deg);
      }

      &::before {
        width: 100%;
        height: 3px;
        transform: translate(-50%, -50%) rotateZ(135deg);
      }
    }
  }
}
